# MSDS 7331: Data Mining
# Lab 1: Visualization and Data Preprocessing
# 26 May 2019
## Authors: Meredith Ludlow, Anand Rajan, Kristen Rollins, and Tej Tenmattam

### Business Understanding

Importing necessary packages

In [4]:
import pandas as pd
import os
print(os.listdir("Data"))

['acs2015_census_tract_data.csv', 'acs2017_county_data.csv', 'acs2017_census_tract_data.csv', 'acs2015_county_data.csv']

Reading every csv file as pandas dataframe

2017 Census Tract Data

In [5]:
df_17_census = pd.read_csv('Data/acs2017_census_tract_data.csv')
df_17_census.head()

,TractId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga County,1845,899,946,2.4,86.3,5.2,0.0,...,0.5,0.0,2.1,24.5,881,74.2,21.2,4.5,0.0,4.6
1,1001020200,Alabama,Autauga County,2172,1167,1005,1.1,41.6,54.5,0.0,...,0.0,0.5,0.0,22.2,852,75.9,15.0,9.0,0.0,3.4
2,1001020300,Alabama,Autauga County,3385,1533,1852,8.0,61.4,26.5,0.6,...,1.0,0.8,1.5,23.1,1482,73.3,21.1,4.8,0.7,4.7
3,1001020400,Alabama,Autauga County,4267,2001,2266,9.6,80.3,7.1,0.5,...,1.5,2.9,2.1,25.9,1849,75.8,19.7,4.5,0.0,6.1
4,1001020500,Alabama,Autauga County,9965,5054,4911,0.9,77.5,16.4,0.0,...,0.8,0.3,0.7,21.0,4787,71.4,24.1,4.5,0.0,2.3

2017 Census County Data

In [3]:
df_17_county = pd.read_csv('Data/acs2017_county_data.csv')
df_17_county.head()

,CountyId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga County,55036,26899,28137,2.7,75.4,18.9,0.3,...,0.6,1.3,2.5,25.8,24112,74.1,20.2,5.6,0.1,5.2
1,1003,Alabama,Baldwin County,203360,99527,103833,4.4,83.1,9.5,0.8,...,0.8,1.1,5.6,27.0,89527,80.7,12.9,6.3,0.1,5.5
2,1005,Alabama,Barbour County,26201,13976,12225,4.2,45.7,47.8,0.2,...,2.2,1.7,1.3,23.4,8878,74.1,19.1,6.5,0.3,12.4
3,1007,Alabama,Bibb County,22580,12251,10329,2.4,74.6,22.0,0.4,...,0.3,1.7,1.5,30.0,8171,76.0,17.4,6.3,0.3,8.2
4,1009,Alabama,Blount County,57667,28490,29177,9.0,87.4,1.5,0.3,...,0.4,0.4,2.1,35.0,21380,83.9,11.9,4.0,0.1,4.9

### Data Meaning and Type

### Data Quality

### Simple Statistics

In [6]:
df_17_county.columns

Index(['CountyId', 'State', 'County', 'TotalPop', 'Men', 'Women', 'Hispanic',
       'White', 'Black', 'Native', 'Asian', 'Pacific', 'VotingAgeCitizen',
       'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [8]:
census_tract_income = df_17_census[['TractId', 'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr']]
census_tract_income.head()

      TractId   Income  IncomeErr  IncomePerCap  IncomePerCapErr
0  1001020100  67826.0    14560.0       33018.0           6294.0
1  1001020200  41287.0     3819.0       18996.0           2453.0
2  1001020300  46806.0     9496.0       21236.0           2562.0
3  1001020400  55895.0     4369.0       28068.0           3190.0
4  1001020500  68143.0    14424.0       36905.0          10706.0

In [7]:
county_income = df_17_county[['CountyId', 'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr']]
county_income.head()

   CountyId  Income  IncomeErr  IncomePerCap  IncomePerCapErr
0      1001   55317       2838         27824             2024
1      1003   52562       1348         29364              735
2      1005   33368       2551         17561              798
3      1007   43404       3431         20911             1889
4      1009   47412       2630         22021              850

In [9]:
census_tract_mean = census_tract_income['Income'].mean()
census_tract_median = census_tract_income['Income'].median()
print('From 2017 Census Tract data, household mean income is ' + str(census_tract_mean) + ', and household median income is ' +
      str(census_tract_median))

From 2017 Census Tract data, household mean income is 61086.829265280925, and household median income is 54375.0

In [10]:
county_income_mean = county_income['Income'].mean()
county_income_median = county_income['Income'].median()
print('From 2017 County data, household mean income is ' + str(county_income_mean) + ', and household median income is ' +
      str(county_income_median))

From 2017 County data, household mean income is 48994.966770186336, and household median income is 47636.5

### Visualize Attributes

### Explore Joint Attributes

### Explore Attributes and Class

### New Features